<%if params[:to].nil?%>
  <h1>我的车子运力报价</h1>
<%else%>
  <h1>我收到的车主报价</h1>
<%end%>
<table>
  <tr>

    <th>报价</th>

    <th>报价时间</th>
    <th>车源</th>
    <th>管理</th>
  </tr>

  <%unless @quotes.nil? %>
    <% @quotes.each do |quote| %>
      <tr>

          <td>         <%= quote.price ||"面议"%></td>
  
      
        <td><%= quote.created_at %></td>
       <td>
        <%= link_to "#{quote.truck.paizhao}", trucks_path(quote.truck.id) %>
       </td>
       
        <td><%= link_to '编辑', edit_quote_path(quote) %>|
          <a href="/inqueries/destroy/<%=quote.id%>">删除</a>
        </td>
         </tr>
    <% end %>
  <% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path %>
