<%= form_for(@lib_company) do |f| %>
  <% if @lib_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lib_company.errors.count, "error") %> prohibited this lib_company from being saved:</h2>

      <ul>
      <% @lib_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :msn %><br />
    <%= f.text_field :msn %>
  </div>
  <div class="field">
    <%= f.label :qq %><br />
    <%= f.text_field :qq %>
  </div>
  <div class="field">
    <%= f.label :intro %><br />
    <%= f.text_field :intro %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :addr %><br />
    <%= f.text_field :addr %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
