<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lib_company.name %>
</p>

<p>
  <b>Email:</b>
  <%= @lib_company.email %>
</p>

<p>
  <b>Mobile:</b>
  <%= @lib_company.mobile %>
</p>

<p>
  <b>Phone:</b>
  <%= @lib_company.phone %>
</p>

<p>
  <b>Contact:</b>
  <%= @lib_company.contact %>
</p>

<p>
  <b>Fax:</b>
  <%= @lib_company.fax %>
</p>

<p>
  <b>Msn:</b>
  <%= @lib_company.msn %>
</p>

<p>
  <b>Qq:</b>
  <%= @lib_company.qq %>
</p>

<p>
  <b>Intro:</b>
  <%= @lib_company.intro %>
</p>

<p>
  <b>City:</b>
  <%= @lib_company.city %>
</p>

<p>
  <b>Addr:</b>
  <%= @lib_company.addr %>
</p>


<%= link_to 'Edit', edit_lib_company_path(@lib_company) %> |
<%= link_to 'Back', lib_companies_path %>
