<span>
<form  action="/cargos/quickfabu"  enctype="mutltipart/form-data" method="post">
  
  <input type="text" name="from"  value="<%=@quickfabu[:from].nil? ? "": @quickfabu[:from]%>"class="input-medium"></input>
  (必含省市)<Strong>到</Strong><input type="text" name="to" value="<%=@quickfabu[:to].nil? ? "": @quickfabu[:to]%>" class="input-medium"></input>
  有货物 <input type="text" name="cargoname" value="<%=@quickfabu[:cargoname].nil? ? "": @quickfabu[:cargoname]%>"  class="input-mini"></input>
    <input type="text" name="weight" value="<%=@quickfabu[:weight].nil? ? "": @quickfabu[:weight]%>"  class="input-mini"></input>吨
  求<input type="text" name="chelength" value="<%=@quickfabu[:chelength].nil? ? "": @quickfabu[:chelength]%>"  class="input-mini"></input> 米车 ，
  联系人及电话<input type="text" name="contact" value="<%=@quickfabu[:contact].nil? ? "": @quickfabu[:contact]%>"  class="input-medium"></input>
    有效,
<select name="send_date" class="input-small">
<option <%="selected" if @quickfabu[:send_date]=="1"%> value="1">一天</option>
<option <%="selected" if @quickfabu[:send_date]=="2"%> value="2">二天</option>
<option <%="selected" if @quickfabu[:send_date]=="3"%>  value="3">三天</option>
<option <%="selected" if @quickfabu[:send_date]=="15"%> value="15">15天</option>
<option <%="selected" if @quickfabu[:send_date]=="30"%> value="30">一个月</option>
<option <%="selected" if @quickfabu[:send_date]=="90"%> value="90">三个月</option>
</select>
  
  

  <select name="zuhuo" class="input-small">
  <option <%="selected" if @quickfabu[:send_date]=="001"%> value="001">零整不限</option>
<option <%="selected" if @quickfabu[:send_date]=="002"%>  value="002">整车</option>
<option <%="selected" if @quickfabu[:send_date]=="003"%> value="003">零担</option>
<option <%="selected" if @quickfabu[:send_date]=="004"%>  value="004">包裹</option>
<option <%="selected" if @quickfabu[:send_date]=="005"%>  value="005">集装箱</option>
<option <%="selected" if @quickfabu[:send_date]=="006"%>  value="006">整船</option>
<option <%="selected" if @quickfabu[:send_date]=="007"%>  value="007">整舱</option>
<option <%="selected" if @quickfabu[:send_date]=="008"%>  value="008">拚货</option></select>
</select>
  备注:
  <input type="text" name="comments" value="<%=@quickfabu[:comments].nil? ? "": @quickfabu[:comments]%>" class="input-medium"></input> 
   <input  type="submit" class="btn btn-small"  value="<%=@quickfabu[:from].nil? ? "直接发布": "重新发布"%>" name="commit"></input>
   <span style="color:gray;" class="help-inline">免登录发布</span>
 </form>
  </span>
