<%#coding:utf-8%>

    <%cache("provincecargo") do %>
   <h4 class="nav-header">今日共<%=h Cargo.where(:status=>"正在配车").count%></h4>
 
      <%(0.upto($sequnced_province.size)).select{|x| x % 2==0}.each do |i|%>
        <%province1=$sequnced_province[i]%>
        <%if  province1%>
   <ul>
            <li>
            <a  class="<%="p#{province1}"%>" href="/cargos/city/<%=province1%>"> <%=$city_code_name[province1.to_s]%>(<%=get_province_cargo_from_count(province1)%>-<%=get_province_cargo_to_count(province1)%>)</a>
        </li>   
        <li>
        <%if i!=$sequnced_province.size && !$sequnced_province[i+1].blank?%>
              <%province2=$sequnced_province[i+1]%>
              <a  class="<%="p#{province2}"%>" href="/cargos/city/<%=province2%>"> <%=$city_code_name[province2.to_s]%>(<%=get_province_cargo_from_count(province2)%>-<%=get_province_cargo_to_count(province2)%>)</a>
            <%end%>
              </li>
</ul>
        <%end%>
      <%end%>


      <div  class="nav-header">历史<%=ExpiredCargo.count+Cargo.count%></div>

    <%end%>
