<div id="cargo_show" >
  <%if session[:user_id]%>
    <%cache "cargoshow"+params[:id] do%>
      <%cargo_show_helper%>
      <%unless @show_other_cargo%>
  <%if @stock_cargo %>

        <ul class="unstyled">

          <li> 组货方式:<%= $cargo_option[@cargo.cargo_zuhuo]%>  </li> 
          <li> 货物大类:<%=$cargo_big_category[@stock_cargo.big_category]%> </li> 
          <li> 货物包装:<%=@stock_cargo.package_name%> </li> 
          <%@user=User.find(@cargo.user_id)%>
          <li>  联系人:<%= @user.name %>  </li> 
          <li>  联系方式: <%if @user.user_contact_id%>
              <%usercontact=UserContact.find(@user.user_contact_id)%>
              <%= usercontact.mobilephone %>
              <%= usercontact.quhao+"-"+usercontact.fixphone %>
            <%else%>
              <%=@user.mobilephone%>
            <%end%>
          </li>       
        </ul>
        <p> 
          备注:<%=@cargo.comments  %>
        </p>
        <%else%>

                <ul class="unstyled">
                   <li>从<%=@cargo.fcity_name%>到<%=@cargo.tcity_name%>,</li>
           <li> 有货物:<%= @cargo.cate_name+" "+@cargo.cargo_weight+"吨"%> , </li>     
           <li>有效期:<%=@cargo.send_date%>天,</li>
          <li> 组货方式:<%= $cargo_option[@cargo.cargo_zuhuo]%> , </li> 
          <li> 联系:<%=@cargo.contact%> </li> ,
          <li> 备注:<%=@cargo.comments%> </li> 

        </ul>
        <%end%>
      <%else%>
        <div>
          <%=@show_other_cargo%>
        </div>
        <p>信息来自<%=@cargo[:from_site]%>物流网,网络信息有风险，请注意交易安全.</p>     
      <%end%>

      <%=render "jubaos/jubaoform"%>
    <%end #end of cache%> 
    <%if session[:user_id]%>
      <div>
        <a class="btn btn-default cargo_myself" href="/cargos/send_cargo_myself/<%=@cargo.id%>"> 把该货源信息发送到自己邮箱</a>
        <span class="help_inline" style="display:none">请稍等5秒</span>
      </div>
      <%=render "cargos/new_send_cargo_friend"%>
      <span class="help_inline mail_result" style="display:none">请稍等5秒</span>
    <%end%>
  <%else%>
    <div class="span4">
      <p>登录后可见联系方式.</p>
      <p>
        <span><a class="btn btn-primary" href="/users/login">登录</a> 
          <a  style="margin-left:30px;"class="btn btn-primary " href="/users/new">注册</a></span>          
      </p>
    </div>
  </div>
<%end%>