
<table class="table table-striped">
  <tr>
    <th>关注城市</th>

     <th>邮件订阅</th>
    <th>删除</th>
  </tr>
  <%=form_for(@concerncargo,:url=>{:action=>"update"}) do |f| %>
  <%unless @concerncargo.city.blank?%>
    <%@concerncargo.city.each_index do |index|%>

      <tr>
        <td><%=$city_code_name[@concerncargo.city[index][0]]%></td>    

          <td> <!--<input type="checkbox" name="mail<%=index%>"  value="true" <%="checked" if @concerncargo.city[index][1]==true%>></input>--></td>
          <td> <input type="checkbox" name="delete<%=index%>" value="true"></input></td>


      </tr>
<%end%>
    <%end%>
  </table>
  <input type="hidden" name="concern_type" value="city"></input>
  <input type="hidden" name="concerncargoid" value=<%=@concerncargo.id.to_s%>></input>
  <%= f.submit("确定",:class=>"btn primary")%>
<% end %>
  <p>目前还没有支持城市订阅，正在开发中</p>

