<%#coding:utf-8%>
<p>尊敬的用户<%=@user.name unless @user.blank?%>,您好！</p>
<h3>以下为你关注的货源类别</h3>
<%puts "@cargos.size=#{@cargos.size}"%>
<table class="cargo table table-striped" >
  <th> 出发</th>
  <th> 到达</th>
  <th>货物</th>
  <th>重量</th>
  <th>有效</th>      
  <th>发布日期</th>
  <th>货源状态</th> 
  <th>来自</th> 
  <th>联系手机</th> 
  <th>联系固定电话</th> 
  <th>备注</th> 
  <% unless @cargos.blank? %>
    <% @cargos.each do |cargo| %>     
  
     <% contact=  cargo.comments  if cargo[:from_site]=="haoyun56"%>
     <% contact=  cargo.comments  if cargo[:from_site]=="56135"%>
     <% contact=  cargo.comments+"联系电话:"+cargo.contact  if cargo[:from_site]=="56qq"%>
     <% contact=  cargo.comments  if cargo[:from_site]=="tf56"%>
     <% contact=  cargo.contact_phone if cargo[:from_site]=="quzhou"%>
  
      <%unless cargo.nil? %>
        <tr>
          <td><%= cargo.fcity_name %></td>
          <td><%= cargo.tcity_name %></td>
          <td> <%= cargo.cate_name ||"未知货物"%>         
          </td>
          <td><%= cargo.cargo_weight || "0" %>吨/<%= cargo.cargo_bulk ||0 %>方</td>
          <td><%= cargo.send_date %>天</td>
          <td><%=cargo.created_at.localtime.to_s.slice(0,19) unless cargo.updated_at.nil? %></td>
          <td><%=cargo.status %></td>
              <%if cargo.from_site=="local" %>
              <td>物流零距离</td>
           <%else%>
            <td><%=cargo.from_site %></td>
            <%end%>
            <td><%=cargo.mobilephone %></td>
             <td><%=cargo.fixphone %></td>
              <%if cargo.from_site=="local" %>
             <td><%=cargo.comments %></td>
             <%else%>
             <td><%=contact%></td>
             <%end%>
        </tr>
      <% end %>
    <% end %>
  </table>

<%else%>     
  <p>没有对应的货源，奇怪，肯定我们弄错了</p>   
<%end %>
  <br></br>
<p>
<h3> <a href="http://w090.com"> 物流零距离 - w090.com </a></h3>
<h4>物流零距离是永久免费的面向全国的即时货源和即时车源网站</h4>
<h4> 致力于整合各家物流信息并提供即时通知等服务</h4>
<h4>  为货主和物流公司以及广大的物流从业者搭建一个物流信息平台</h4>
</p>

<p>我们不会滥用您的邮箱，只会发非常必要的信息给您或者你主动订阅的邮件.</p>

<p><a href="http://w090.com"> 猛击这里,马上访问物流零距离 http://w090.com</a></p>


<p>-物流零距离</p>



