<h1>Listing concerncargos</h1>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>City</th>
    <th>Line</th>
    <th>Phone</th>
    <th>Userid</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @concerncargos.each do |concerncargo| %>
  <tr>
    <td><%= concerncargo.user_id %></td>
    <td><%= concerncargo.city %></td>
    <td><%= concerncargo.line %></td>
    <td><%= concerncargo.phone %></td>
    <td><%= concerncargo.userid %></td>
    <td><%= concerncargo.status %></td>
    <td><%= link_to 'Show', concerncargo %></td>
    <td><%= link_to 'Edit', edit_concerncargo_path(concerncargo) %></td>
    <td><%= link_to 'Destroy', concerncargo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Concerncargo', new_concerncargo_path %>
