
<%unless @concerncargo.blank?%>

  <%#unless @total_cargos.blank?%>

  <%@total_cargos.each do |key,cargos|%>


      <%if key=="关注线路"%>

        <%unless @concerncargo.line.blank?%>
          <h3>我关注的线路(今日货源)</h3>
          <div class="row">
            <%@concerncargo.line .each do |line| %>

              <span class="span3"><%=$city_code_name[line[0].split("#")[0]]%><=><%=$city_code_name[line[0].split("#")[1]]%></span>
            <%end%>
          </div>
          <table class="cargo table table-striped" >
            <th> 出发</th>
            <th> 到达</th>
            <th>货物</th>
            <th>重量</th>
            <th>有效</th>      
            <th>发布日期</th>
            <th>货源状态</th>    
            <th>车主操作</th>
          <%else%>
            <h3>你还没有添加关注的线路.</h3>
          <%end%>

        <%end%>
            
    <%if key=="关注城市"%>

      <%unless @concerncargo.city.blank?%>     
        <h3>我关注的城市(今日货源)</h3>

        <div class="row">
          <%@concerncargo.city.each do |citycode| %>
            <span class="span2"><%=$city_code_name[citycode[0]]%></span>
          <%end%>
        </div>

        <table class="cargo table table-striped" >
          <th> 出发</th>
          <th> 到达</th>
          <th>货物</th>
          <th>重量</th>
          <th>有效</th>      
          <th>发布日期</th>
          <th>货源状态</th>    
          <th>车主操作</th>
        <%else%>
          <h3>你还没有添加关注的城市.</h3>
        <%end%>  

      <%end%>


            
        <%if key=="关注用户"%>

          <%unless @concerncargo.userid.blank?%>
            <h3>我关注的用户(今日货源)</h3>
            <div class="row">
              <%@concerncargo.userid .each do |username| %>
                <span class="span2"><%=username[0]%></span>
              <%end%>
            </div>
            <table class="cargo table table-striped" >
              <th> 出发</th>
              <th> 到达</th>
              <th>货物</th>
              <th>重量</th>
              <th>有效</th>      
              <th>发布日期</th>
              <th>货源状态</th>    
              <th>车主操作</th>
            <%else%>
              <h3>你还没有添加关注的用户.</h3>
            <%end%>

          <%end%>

          <%if key=="关注电话"%>

            <%unless @concerncargo.phone.blank?%>
              <h3>我关注的电话(今日货源)</h3>
              <%@concerncargo.phone .each do |phonelist| %>
                <div class="row">
                  <div class="span5">
                  <%=phonelist[0][4]%> 
                  <%=phonelist[0][0]%> 
                  <%=phonelist[0][1]%> 

                    </div>
                  <div>
                  <%end%>
                  <table class="cargo table table-striped" >
                    <th> 出发</th>
                    <th> 到达</th>
                    <th>货物</th>
                    <th>重量</th>
                    <th>有效</th>      
                    <th>发布日期</th>
                    <th>货源状态</th>    
                    <th>车主操作</th>
                  <%else%>
                    <h3>你还没有添加关注的电话.</h3>
                  <%end%>
                <%end%>


                <% unless cargos.blank? %>
                  <% cargos.each do |cargo| %>     
                    <%unless cargo.nil? %>
                      <tr>
                        <td class="span4"><%= cargo.fcity_name %></td>
                        <td class="span4"><%= cargo.tcity_name %></td>

                        <td class="span6"><a class ="show_float" href="/cargos/show/<%=cargo.id%>">
                            <%= cargo.cate_name ||"未知货物"%>
                          </a> 

                        </td>
                        <td class="span3"><%= cargo.cargo_weight || "0" %>吨/<%= cargo.cargo_bulk ||0 %>方</td>
                        <td class="span2"><%= cargo.send_date %>天</td>
                        <td class="span4"><%=cargo.created_at.localtime.to_s.slice(0,19) unless cargo.updated_at.nil? %></td>

                        <td class="span2"><%=cargo.status %></td>
                        <td class="span2">
                          <%if cargo[:from_site]=="local"%>
                            <%unless session[:user_id].nil?%>
                              <%if cargo.user_id==session[:user_id]%>
                                货主
                              <%else%>
                                <a class=" btn default baojia" href="/cargos/<%=cargo.id%>/quotes/new">报价</a>
                              <%end%>
                            <%else%>
                              登录后报价
                            <%end%>
                          <%else%>
                            其他
                          <%end%>
                        </td>   
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </table>
  <hr>          </hr>
            <% end %>
  <hr>          </hr>
          <p ><a class="btn btn-default alert alert-warning" href="/concerncargos/destroy/<%=@concerncargo.id%>" onclick="return confirm('全部删除？')">删除全部关注</a></p>

          <%else%>
            <p class="alert alert-info">您还没有添加任何关注,点击左边导航栏添加您的关注.</p>
          <%end%>

        


