

<h3>
 <%= @truck.paizhao %>,
 <%= @truck.dunwei %>dun,
  <%= @truck.length %>mi,
 <%= $truck_shape[@truck.shape]%>
  <%= @truck.fcity_name %>
  ==>
  <%= @truck.tcity_name %>

  <%= @truck.send_date %>day
  发货,
  <%=@truck.status%>


</h3>




