<%= form_for(@concerncargo) do |f| %>
  <fieldset>
    <% if @concerncargo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@concerncargo.errors.count, "error") %> prohibited this userline from being saved:</h2>

        <ul>
          <% @concerncargo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <span class="lineselector">


      <a id="from_data_load"  href="/cities/from/<%="100000000000"%>"><%="出发地选择"%></a>

      <input type="hidden" name="fcitycode" value=""></input>
      <a  id="to_data_load"  href="/cities/to/<%="100000000000"%>" ><%="到达地选择"%></a>
      <input type="hidden" name="tcitycode" value=""></input>
      <input type="hidden" ></input>

     <input type="hidden" name="concern_type" value="line"></input>
      <%= f.submit("确定",:class=>"btn default") %>

    </span>



  </fieldset>
<% end %>