<h1>Listing sitedata</h1>

<table class="table table-striped">
  <tr>
    <th>Ie6</th>
    <th>Ie7</th>
    <th>Ie8</th>
    <th>Noneie</th>
    <th>loginuser</th>
    <th>cargoshow</th>
    <th>truckshow</th>
     <th>today sent mail</th>
      <th>total sent mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @sitedata.each do |sitedatum| %>
    <tr>
      <td><%= sitedatum.ie6 %></td>
      <td><%= sitedatum.ie7 %></td>
      <td><%= sitedatum.ie8 %></td>
      <td><%= sitedatum.noneie %></td>
      <td><%= sitedatum.loginuser %></td>
      <td><%= sitedatum.cargoshow %></td>
      <td><%= sitedatum.truckshow %></td>
       <td><%= sitedatum.msent_today %></td>
        <td><%= sitedatum.msent %></td>
      <td><%= link_to 'Show', sitedatum %></td>
      <td><%= link_to 'Edit', edit_sitedatum_path(sitedatum) %></td>
      <td><%= link_to 'Destroy', sitedatum, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Sitedatum', new_sitedatum_path %>
