<p id="notice"><%= notice %></p>

<p>
  <b>Ie6:</b>
  <%= @sitedatum.ie6 %>
</p>

<p>
  <b>Ie7:</b>
  <%= @sitedatum.ie7 %>
</p>

<p>
  <b>Ie8:</b>
  <%= @sitedatum.ie8 %>
</p>

<p>
  <b>Noneie:</b>
  <%= @sitedatum.noneie %>
</p>



<%#= link_to 'Edit', edit_sitedatum_path(@sitedatum) %> |
<%#= link_to 'Back', sitedata_path %>
