<h1>Listing All city <%=City.count%></h1>
<p>lat:<%=City.where(:lat.ne=>nil).count%></p>
<p>lng:<%=City.where(:lng.ne=>nil).count%></p>
<table class="table table-striped">
  <tr>
    <th>name</th>
    <th>code</th>
    <th>lat</th>
    <th>lng</th>
    <th>loc</th>
  </tr>

  <%@cities.each do |city|%>
    <tr>
      <td><%=city.name%></td>
      <td><%=city.code%></td>
      <td><%=city.lat%></td>
      <td><%=city.lng%></td>
 <td><%=city.loc.to_s%></td>
    </tr>
  <%end%>

</table>

<%= will_paginate @cities ,:previous_label=>"上一页",:next_label=>"下一页"%>

