<%#coding:utf-8%>
<p>邮件订阅人数<%=Emaillistc.count%></p>
<p>短信订阅人数<%=Smslistc.count%></p>
<%if @sms_lists%>
  <table class="table table-striped">
    <tr>
      <th>sms</th>
      <th>cargolist</th>
    </tr>
    <%@sms_lists.each do |concerncargo|%>
      <tr>
        <td><%=concerncargo.phone%> </td>     
        <td><%=concerncargo.cargolist%> </td>     
  
      </tr>
    <%end%>
    <%= will_paginate @sms_lists ,:previous_label=>"上一页",:next_label=>"下一页"%>
  </table>

<%end%>