<p id="notice"><%= notice %></p>


<table>
  <thead>
    <% unless @user_contacts.blank? %>
    <tr>
      <th>姓名</th>
      <th>移动电话</th>
      <th>Email</th>
      <th>Qq</th>
      <th>固定电话</th>
      <th>所在城市</th>
      <th>所在地址</th>
    </tr>
  </thead>
  <tbody>

 <%@user_contacts.each do |user_contact|%>
        <tr>
          <td><%=h user_contact.name  ||"无"%></td>
          <td><%=h user_contact.mobilephone  ||"无"%></td>
          <td><%=h user_contact.email ||"无" %></td>
          <td><%=h user_contact.QQ ||"无"%></td>
          <td><%=h user_contact.fixphone  || "无"%></td>
          <td><%=h user_contact.city_name  ||"无" %></td>
          <td><%=h user_contact.address ||"无" %></td>
        </tr>
  <% end %>
        <%else%>
        对不起，没有找到联系人.
  <% end %>
  </tbody>
</table>
<br />


<%= will_paginate @user_contacts ,:class=>"page_navi_link"%>


