
<div class="navbar">
  <div class="navbar-inner">        
      <a class="brand" href="#">物流零距离</a>
      <ul style="display:inline-block"class="nav-tabs">
        <li > <a  href="/cargos/allcity">货源</a></li>
        <li > <a  href="/trucks/allcity">车源</a></li>
        <li ><a   href="/companies/yellowpage">黄页</a></li>
        <li><a   href="/userlines">专线</a></li>  
        <li><a   href="/users/center">中心</a></li> 
        <li><a   href="/concerncargos/userconcern">关注</a></li> 
       <%if session[:user_name]=="admin"%>
         <li><a   href="/dingwei/index">定位</a></li> 
         <%else%>
            <li><a   href="/dingwei/userannounce">定位</a></li> 
         <%end%>      
      </ul>
     
      <li class="pull-right">
        <a  href="/" >首页</a>
        <%cookie_login_helper%>
        <%if session[:user_id].blank?%>
          | <a  href="/users/login" >登录</a>
          | <a  href="/users/new" >快速注册,永久免费</a>
        <%else%>
          | <a  href="/users/logout" >退出</a>
          |<span>欢迎您!<%=session[:user_name]%></span>
        <%end%>

        <%time=Time.now%>
        <span>今天是<%=time.year%>年<%=time.month%>月<%=time.day%>日,星期<%=$week_day[time.wday.to_i]%></span>
        <%if session[:user_name]=="admin"%>
          | <a style="color:black;" class="btn btn-small " href="/admin">网站管理</a>
        <%elsif session[:user_name]!=nil%>
          | <a style="color:black;" class="btn btn-small " href="/wmails/invite_new">邀请朋友</a>
        <%else%>
        <%end%> 
      </li>


  </div>
</div>