
<%= form_for(@user_contact,:as=>:usercontact,:html => {:class => "horizontal-form"}) do |f| %>
  <% if @user_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_contact.errors.count, "error") %> prohibited this contact_person from being saved:</h2>

      <ul>
        <% @user_contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <fieldset class="control-group">
    <%= f.label "真实姓名*",{:class=>"control-label"} %>
    <div class="controls"><%= f.text_field :name %> </div>
  </fieldset>
 <fieldset class="control-group">
    <%= f.label "移动电话*",{:class=>"control-label"} %>
    <div class="controls"><%= f.text_field :mobilephone %> </div>
  </fieldset>

 <fieldset class="control-group">
    <%= f.label :固定电话区号 ,{:class=>"control-label"}%>
   <div class="controls">  <input  style="width:30px;" id="user_contact_phone_quhao" name="usercontact[quhao]" type="text" value=<%=@user_contact.quhao%> > </input> </div>
      </fieldset>
     <fieldset class="control-group">
       <%= f.label :固定电话号码 ,{:class=>"control-label"}%>
   <div class="controls">  <input  style="width:150px;" id="user_contact_fix_phone" name="usercontact[fixphone]" type="text" value=<%=@user_contact.fixphone%> > </input> </div>
  </fieldset>

 <fieldset class="control-group">
    <%= f.label :QQ,{:class=>"control-label"} %>
    <div class="controls"><%= f.text_field :QQ %> </div>
  </fieldset>
 <fieldset class="control-group">
    <%= f.label "email*",{:class=>"control-label"} %>
    <div class="controls"><%= f.text_field :email %> </div>
 </fieldset>

  <div class="form-actions">
    <%= f.submit(:value=>"确定",:class=>"btn primary") %>
  </fieldset>

<% end %>
<p id="notice"><%= notice %></p>
