<h1>Listing announces</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @announces.each do |announce| %>
  <tr>
    <td><%= announce.title %></td>
    <td><%= announce.url %></td>
    <td><%= link_to 'Show', announce %></td>
    <td><%= link_to 'Edit', edit_announce_path(announce) %></td>
    <td><%= link_to 'Destroy', announce, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Announce', new_announce_path %>
