
<%= form_for(@company,:as=>:company,:html => {:class => "horizontal-form"}) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@company.errors.count, "error") %></h4>
      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="control-group">
    <%= f.label "商家名称*",{:class=>"control-label"} %>
    <div class="controls"><%= f.text_field :name %>  </div>
  </fieldset>

  <fieldset class="control-group">
    <%= f.label "商家介绍*" ,{:class=>"control-label"}%>
    <div class="controls"> <%= f.text_area :about,:class=>"xxlarge" %></div>
</fieldset>
  <fieldset class="control-group">
    <%= f.label "商家类型*" ,{:class=>"control-label"}%>
     <div class="controls">     <%= f.select(:ctype,options_for_select(
     [["国内陆运公司","国内陆运公司"],
    ["物流个体","物流个体"],
   ["配货信息部","配货信息部"],
  ["配货站点","配货站点"],
  ["货主企业" ,"货主企业"],
 ["仓储仓库","仓储仓库"],
 ["物流园区","物流园区"],
 ["停车场", "停车场"],
 ["铁路运输","铁路运输"],
 ["海路运输","海路运输"],
 ["内河运输","内河运输"],
 ["航空运输","航空运输"],
 ["国际物流","国际物流"],
 ["快递公司","快递公司"],
 ["物流设备","物流设备"],
 ["搬家服务","搬家服务"],
 ["其他物流类","其他物流类"]],@company.ctype) )%> </div>
</fieldset>




    <fieldset class="control-group">
    <%= f.label :员工数量 ,{:class=>"control-label"}%>
    <div class="controls"><%= f.text_field :num_employ %>  </div>
   </fieldset>

  <fieldset class="control-group">
    <%= f.label :自有车辆 ,{:class=>"control-label"}%>
    <div class="controls"><%= f.text_field :self_che %>  </div>
 </fieldset>
<!--
  <fieldset class="control-group">
    <%= f.label :协议车辆 ,{:class=>"control-label"}%>
    <div class="controls"><%= f.text_field :signed_che %>
  </div>
-->

<h3>公司的联系信息 </h3>
<fieldset class="control-group">
    <%= f.label "联系人*" ,{:class=>"control-label"}%>
    <div class="controls"><%= f.text_field :contact_name %>  </div>
</fieldset>


<fieldset class="control-group">

  <!-- do not change below  format -->
      <label class="line_from_label">所在城市*:</label>
      <div class="controls">    <a id="from_data_load"  class="company_city" href="/cities/from"><%=@company.city_name ||"选择"%></a> 
              <%= f.hidden_field(:city_code) %>
      <%= f.hidden_field(:city_name) %>
      </div>

</fieldset>

  <fieldset class="control-group">
    <%= f.label "商家地址*",{:class=>"control-label"} %>
    <div class="controls"><%= f.text_field :address %>  </div>
  </fieldset>

  <fieldset class="control-group">
    <label class="control-label" style="width:130px;">固定电话区号:</label>
     <div class="controls"> <input  style="width:50px;" id="quhao" name="company[quhao]" type="text" value=<%=@company.quhao%> > </input>  </div>
</fieldset>
     <fieldset class="control-group">
        <label class="control-label" style="width:130px;">固定电话号码:</label>
   <div class="controls">  <input  style="width:150px;" id="companyfix_phone" name="company[fix_phone]" type="text" value=<%=@company.fix_phone%> > </input> </div>
     <%#= f.text_field :fix_phone %>
</fieldset>

  <fieldset class="control-group">
    <%= f.label "联系人移动电话*",{:class=>"control-label"} %>
    <div class="controls" ><%= f.text_field :mobile_phone %> </div>
 </fieldset>

  <fieldset class="control-group">
    <%= f.label :联系人email ,{:class=>"control-label"}%>
    <div class="controls"><%= f.text_field :email %></div>
</fieldset>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :user_name %>
<%= f.hidden_field(:ispersonal) %>
  <div class="form-actions">
    <%= f.submit("确定",:class=>"btn primary")%>
  </div>



<% end %>

<p id="notice"><%= notice %></p>

