<p id="notice"><%= notice %></p>

<div  class="companyshow">
  <h3><%= @company.name %></h3>
  </div>

<table class="company_private_show">


<tr class="companyabout">
  <td  class="label_td">公司介绍:</td>
  <td style="height: 200px; width:500px; line-height: 20px;"> 
    <div style="word-wrap: break-word;" class="companyintro"><%= @company.about %></div></td>
</tr>

<tr>
  <td class="label_td">公司联系人:</td>
 <td> <%= @company.contact_name %></td>
</tr>

<tr>
  <td class="label_td">所在城市:</td>
  <td><%= @company.city_name %></td>
</tr>


<tr>
  <td class="label_td">公司地址:</td>
 <td> <%= @company.address %></td>
</tr>

<tr>
  <td class="label_td">固定电话:</td>
 <td> <%= @company.quhao+"-"+@company.fix_phone %></td>
</tr>

<tr>
  <td class="label_td">移动电话:</td>
 <td> <%= @company.mobile_phone %></td>
</tr>

<tr>
  <td class="label_td">公司邮件:</td>
 <td> <%= @company.email %></td>
</tr>

<tr>
  <td class="label_td">自有车辆:</td>
 <td> <%= @company.self_che %></td>
</tr>

<tr>
  <td class="label_td">挂靠车辆:</td>
 <td> <%= @company.signed_che %></td>
</tr>

<tr>
  <td class="label_td">员工数量:</td>
  <td> <%= @company.num_employ %></td>
</tr>

</table>
<% if @company.user_id==session[:user_id] %>
  <p>该信息由
   <%if @company.created_at.to_s==@company.updated_at.to_s%>
   <%= User.find(@company.user_id).name %> 创建于<%=@company.created_at.to_s%>
   <%else%>
   <%= User.find(@company.user_id).name %> 更新于<%=@company.updated_at.to_s%>
   <%end%>
  </p>
  <%end%>
  
<%#= link_to 'Edit', edit_company_path(@company) %> 
<%#= link_to 'Back', companies_path %>
