<%= form_for(@userline) do |f| %>
  <% if @userline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userline.errors.count, "error") %> prohibited this userline from being saved:</h2>

      <ul>
      <% @userline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :fcityid %><br />
    <%= f.text_field :fcityid %>
  </div>
  <div class="field">
    <%= f.label :tcityid %><br />
    <%= f.text_field :tcityid %>
  </div>
  <div class="field">
    <%= f.label :line %><br />
    <%= f.text_field :line %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
