<p id="notice"><%= notice %></p>

<p>
  <b>Jubaotype:</b>
  <%= @jubao.jubaotype %>
</p>

<p>
  <b>Belongid:</b>
  <%= @jubao.belongid %>
</p>

<p>
  <b>Username:</b>
  <%= @jubao.username %>
</p>

<p>
  <b>Fromip:</b>
  <%= @jubao.fromip %>
</p>

<p>
  <b>Fakereason:</b>
  <%= @jubao.fakereason %>
</p>


<%= link_to 'Edit', edit_jubao_path(@jubao) %> |
<%= link_to 'Back', jubaos_path %>
