<p id="notice"><%= notice %></p>

<p>
  <b>总体评价:</b>
  <%= @feedback.pingjia %>
</p>




<p>
  <b>改进的地方:</b>
  <%= @feedback.improve %>
</p>
<p>
  <b>不喜欢的方面:</b>
  <%= @feedback.hate %>
</p>

<p>
  <b>喜欢的方面:</b>
  <%= @feedback.satisfy %>
</p>
