<%=render "nav_inside"%>
<div>

<%@system.each do |system|%>

  <!--<h1><%=system%>产品区</h1>-->
    <% get_all_branch(system).each do |branch|%>
     <h2><%=system%>-<%=branch%>分支区</h2>
     <%plan_settings=PlanSetting.where(:system=>system,:branch=>branch,:status=>"enabled").desc(:priority)%>
    <table class="table">
     <% plan_settings.each do |plan_setting| %>
    <tr>
      <td><%= plan_setting.fa %></td>
      <td><a href="/plans/new/plansetting/<%=plan_setting.id%>" >新建计划</a></td>     
      <td><a class="plan_list" href="/plans/index/plansetting/<%=plan_setting.id%>" >全部计划(<%=Plan.where(:plansetting=>plan_setting.id).count%>)</a></td>   
      <td>
        <%unless plan_setting.contributor.nil?%>
       <%plan_setting.contributor.each do |contributor| %>
        <a class="plan_list" href="/plans/index/plansetting/<%=plan_setting.id%>/user/<%=contributor%>"><%=contributor%>(<%=Plan.where(:plansetting=>plan_setting.id,:user=>contributor).count%>)</a>
        <%end%>
      <%end%>
      </td>
      <td><%= plan_setting.status %></td>
      <%day=((Time.now-plan_setting.updated_at)/86400).to_i%>
     <%if day <3 %>
        <td <%="style=background:#fae5c9;" %>>更新于<%=day%>天前</td>
      <%elsif (day>3 && day<15) %>
        <td <%="style=background:#fbc276;" %>>更新于<%=day%>天前</td>
      <%else%>
        <td <%="style=background:#f7a536;" %>>更新于<%=day%>天前</td>
      <%end%>
      <td><%= link_to 'Show', plan_setting %></td>
      <td><%= link_to 'Edit', edit_plan_setting_path(plan_setting) %></td>
      <%if params[:delete]%>
      <td><%= button_to 'Destroy', plan_setting, confirm: 'Are you sure?', method: :delete %></td>
      <%end%>
    </tr>
  <% end %>
      </table>

  <%end%>

<%end%>
</div>
<%=render "nav_inside"%>
<a  class="btn btn-dark" href="/plan_settings/index/delete/true">Delete Manage</a>
<%= link_to 'New Plan setting', new_plan_setting_path %>


