<h1>全部车队</h1>

<table>
  <tr>
   <!-- <th>User</th> -->
    <th>车队名字</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @truck_groups.each do |truck_group| %>
  <tr>
  <!--    <td><%= truck_group.user_id %></td> -->
          <td><%= truck_group.name %></td>
  <!--   <td><%= link_to 'Show', truck_group %></td>
    <td><%= link_to 'Edit', edit_truck_group_path(truck_group) %></td> -->
    <td><%= link_to 'Destroy', truck_group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建车队', new_truck_group_path %>
