<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @truck_group.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @truck_group.name %>
</p>


<%= link_to '编辑', edit_truck_group_path(@truck_group) %> |
<%= link_to '后退', truck_groups_path %>
