<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% @plan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%#= f.label :title %><br />
    
    <%= f.text_field :title ,:class => 'input-xxlarge'%>
   <span class="help_inline">请输入计划标题,尽量准确，画龙点睛的作用</span>
    <%#= f.label :user %><br />
  <%#= f.text_field :user %>   

    <%= f.select(:user,options_for_select(@plan_users,(@plan.user.nil? ? @plan_users.first.first : @plan.user)),{},:class => "input-small")%>
    <%= f.select(:phase,options_for_select(@phase,(@plan.phase.nil? ? @phase.first.first : @plan.phase)),{},:class => "input-medium" )%>
    <%= f.select(:deliver,options_for_select(@delivers,(@plan.deliver.nil? ? @delivers.first.first : @plan.deliver)),{},:class => "input-medium" )%>
    <%= f.select(:status,options_for_select([["open","open"],["close","close"]],(@plan.status.nil? ? "open" : @plan.status)),{},:class => "input-small" )%>
    <%= f.text_field :priority, :input_html => { :value => 100 },:class=>"input-small"  %>
  <span class="help_inline">输入一个数字，百类，千类，万类优先级设置（低中高)</span>
    
  </div>

<%=render "edit_navi"%>
<%if params[:content]=="plan"%>
  <div class="field">
    <%#= f.label :Plan %><br />
    <%= f.text_area :plan,:id => "kindeditor_id",:class => 'input-planedit', :input_html => { :value => "Default value" }  %>
  </div>
<br></br>
  <div class="actions">
    <%= f.submit :class=>"btn btn-info"%>
  </div>
<br></br>
<%=render "edit_navi"%>
<h2>Plan</h2>  
<%=raw(@plan.plan)%>
<h2>Do</h2>  
<%=raw(@plan.procedure)%>
<h2>Summary</h2>
<%=raw(@plan.summary)%>
<h2>Comments</h2>
<%=raw(@plan.comments)%>
<%elsif params[:content]=="do"%>
  <div class="field">
    <%#= f.label :procedure %><br />
    <%= f.text_area :procedure,:id => "kindeditor_id",:class => 'input-planedit', :input_html => { :value => "Default value" }  %>
  </div>
<br></br>
  <div class="actions">
    <%= f.submit :class=>"btn btn-info"%>
  </div>
<br></br>
<%=render "edit_navi"%>
<h2>Plan</h2>  
<%=raw(@plan.plan)%>
<h2>Do</h2>  
<%=raw(@plan.procedure)%>
<h2>Summary</h2>
<%=raw(@plan.summary)%>
<h2>Comments</h2>
<%=raw(@plan.comments)%>
<%elsif params[:content]=="summary"%>
  <div class="field">
    <%#= f.label :summary %><br />
    <%= f.text_area :summary,:id => "kindeditor_id",:class => 'input-planedit', :input_html => { :value => "Default value" }  %>
  </div>
<br></br>
  <div class="actions">
    <%= f.submit :class=>"btn btn-info"%>
  </div>
<br></br>
<%=render "edit_navi"%>
<h2>Summary</h2>
<%=raw(@plan.summary)%>
<h2>Plan</h2>  
<%=raw(@plan.plan)%>
<h2>Do</h2>  
<%=raw(@plan.procedure)%>
<h2>Comments</h2>
<%=raw(@plan.comments)%>
<%elsif params[:content]=="comments"%>
  <div class="field">
    <%#= f.label :comments %><br />
    <%= f.text_area :comments ,:id => "kindeditor_id",:class => 'input-planedit'%>
  </div>
<br></br>
  <div class="actions">
    <%= f.submit :class=>"btn btn-info"%>
  </div>
<br></br>
<%=render "edit_navi"%>
<h2>Comments</h2>
<%=raw(@plan.comments)%>
<h2>Plan</h2>  
<%=raw(@plan.plan)%>
<h2>Do</h2>  
<%=raw(@plan.procedure)%>
<h2>Summary</h2>
<%=raw(@plan.summary)%>
<%else%>
<br></br>
<h2>Plan</h2>  
<%=raw(@plan.plan)%>
<h2>Do</h2>  
<%=raw(@plan.procedure)%>
<h2>Summary</h2>
<%=raw(@plan.summary)%>
<h2>Comments</h2>
<%=raw(@plan.comments)%>
  <div class="actions">
    <%= f.submit :class=>"btn btn-info"%>
  </div>
<br></br>
<%end%>
  <!--
    <div class="field">
  <%= f.label :deliver %><br />
  <%#= f.text_field :deliver %>
  <%#= f.select(:deliver,options_for_select(@delivers,@delivers.first.first) )%>
    </div>
    <div class="field">
  <%= f.label :status %><br />
  <%= f.text_field :status %>
    </div>
    <div class="field">
  <%= f.label :review %><br />
  <%= f.text_field :review %>
    </div>

  -->

<input  name="content" size="30" type="hidden" value=<%=params[:content]%>></input>
  <br></br>
<%=render "edit_navi"%>
<% end %>
