<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% @plan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title ,:class => 'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
  <%#= f.text_field :user %>    
    <%= f.select(:user,options_for_select(@plan_users,(@plan.user.nil? ? @plan_users.first.first : @plan.user)))%>
    <%= f.select(:phase,options_for_select(@phase,(@plan.phase.nil? ? @phase.first.first : @plan.phase)) )%>
    <%= f.select(:deliver,options_for_select(@delivers,(@plan.deliver.nil? ? @delivers.first.first : @plan.deliver)) )%>
    <%= f.select(:status,options_for_select([["open","open"],["close","close"]],(@plan.status.nil? ? "open" : @plan.status)) )%>
  </div>

  <div class="field">
  <%#= f.label :action %><br />

  </div>
  <div class="field">
    <%= f.label :Plan %><br />
    <%= f.text_area :plan,:class => 'input-plantext' %>
  </div>

  <div class="field">
    <%= f.label :procedure %><br />
    <%= f.text_area :procedure,:class => 'input-xxlarge' %>
  </div>

  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary,:class => 'input-plantext' %>
  </div>


  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments ,:class => 'input-plantext'%>
  </div>
  <!--
    <div class="field">
  <%= f.label :deliver %><br />
  <%#= f.text_field :deliver %>
  <%#= f.select(:deliver,options_for_select(@delivers,@delivers.first.first) )%>
    </div>
    <div class="field">
  <%= f.label :status %><br />
  <%= f.text_field :status %>
    </div>
    <div class="field">
  <%= f.label :review %><br />
  <%= f.text_field :review %>
    </div>

  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
