<p id="notice"><%= notice %></p>
<div style="min-width: 600px;">
<p>
   <%= @plan.fa %>
  作者：<%= @plan.user %> 


</p>

<h2>  <%= @plan.title %></h2>
 

<p>
  <h3>Plan:</h3>
  <%= raw(@plan.plan) %>
</p>

<p>
  <p>
  <h3>procedure:</h3>
  <%=raw(@plan.procedure)%>
</p>
<p>
  <h3>summary:</h3>
  <%= raw(@plan.summary) %>
</p>

<p>
  <h3>Comments:</h3>
  <%= raw(@plan.comments) %>
</p>

<p>
  <b>Status:</b>
  <%= @plan.status %>
</p>
<p>

  <b>Deliver:</b>
  <%= @plan.deliver %>
</p>
<p>
  <b>Review:</b>
  <%= @plan.review %>
</p>




<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
</div>